{
  "http_interactions": [
    {
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "GET",
        "uri": "https://api.github.com/user"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Requires authentication\",\"documentation_url\":\"https://docs.github.com/rest/reference/users#get-the-authenticated-user\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "status": [
            "401 Unauthorized"
          ],
          "x-github-media-type": [
            "github.v3; param=full; format=json"
          ],
          "X-Ratelimit-Limit": [
            "60"
          ],
          "X-Ratelimit-Remaining": [
            "56"
          ],
          "X-Ratelimit-Reset": [
            "1609435252"
          ],
          "X-Ratelimit-Used": [
            "4"
          ]
        },
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "url": "https://api.github.com/user"
      },
      "recorded_at": "2020-12-31T16:50:26"
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
